body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	background-color: gray;
}

.header{
	text-align: center;
	background: white;
	position: fixed;
	top: 0;
	width: 100%;
	color: gray;
}

.outer {
    background-color:white;  
	padding: 20px 0px 30px;
	margin-bottom: 50px;
}
.footer{
	padding-top:10px;
	border-top: 4px dashed lightgray;
	margin-top: 3px;
}

.country {
    cursor: pointer;
    padding: 5px;
}

.country .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.country .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.country.selected {
    background-color: #428BCA;
	color: white;
	padding: 8px;
}

.country.selected .score {
    color: black;
}

.info{
	padding-left: 7px;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
	margin: 5px 0 0 ;
	padding: 5px 0 10px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
  
}

.tagline{
	color: white;
	text-align: center;
	font-size: 24px;
	margin-top: 75px;
}
.tagline .sub{
	font-size: 13px;
	
}
.leaderboard{
	margin:0px 0px 10px 0px;
	
}

#footbar{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
	text-align: center;
}

.img-flag{
	height: 75px;
	width: 75px;
}


